<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honor.ssm.mapper.TUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.honor.ssm.entity.TUser">
        <id column="USER_ID" property="userId" />
        <result column="USER_NAME" property="userName" />
        <result column="USER_PWD" property="userPwd" />
        <result column="REG_DATE" property="regDate" />
        <result column="GROUP_ID" property="groupId" />
        <result column="LOCKED" property="locked" />
        <result column="USER_SALT" property="userSalt" />
    </resultMap>

</mapper>
